<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ALDbContext" connectionString="metadata=res://*/ALModel.csdl|res://*/ALModel.ssdl|res://*/ALModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.217.128;initial catalog=AllLearning;user id=sa;password=1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>