@{
    ViewBag.Title = "联系我们";
}

<div class="img_box">
    <img src="../Images/login/top.jpg" />
</div>

<div class="left">
    <div class="left_title">用户</div>
    <a href="login.html" class="left_menu">登录</a>
    <a href="#" class="left_menu">注册</a>
    <a href="#" class="left_menu">忘记密码</a>
    <a href="contact.html" class="left_menu">联系我们</a>
</div>
<div class="right">
    <div class="right_title2"><span class="black">联系我们</span></div>
    <br />
    <img src="../Images/map/addr.png" border="0" style="max-width:760px;" />
    <br /><br />
    <span style="font-size:14px;">张家港市社区培训学院社区教育处：0512—58983526</span>
</div>
<div class="clear" style="padding-bottom:50px;"></div>
