@{
    ViewBag.Title = "首页";
}
@section head{
    @*Styles.Render("~/Content/themes/base/css")*@
}

<!-- 图片墙 -->
<div class="slide_wrapper">
    <div class="slide_left"></div>
    <div class="slide_right"></div>
    <div class="slide_bottom"></div>
</div>
<!-- 内容区域 -->
<div class="main_wrapper">
    <div class="main_left">
        <!-- 新闻 -->
        <div class="news">
            <div class="news_title">
                <span class="tab_title tab_selected">教育动态</span><!--
                        --><span class="tab_title marginleft1">政策文件</span>
                <label>News</label>
                <label class="title_style">新闻中心</label>
                <a class="more" href="#"></a>
            </div>
            <ul class="news_block news_block_show">
                <li><a href="newscontent_0_.html" target="_blank">新东社区开展健康义诊活动</a> <span>[2014-04-20]</span></li>
                <li><a href="newscontent_0_.html" target="_blank">新东社区开展健康义诊活动</a> <span>[2014-04-20]</span></li>
                <li><a href="newscontent_0_.html" target="_blank">新东社区开展健康义诊活动</a> <span>[2014-04-20]</span></li>
                <li><a href="newscontent_0_.html" target="_blank">新东社区开展健康义诊活动</a> <span>[2014-04-20]</span></li>
                <li><a href="newscontent_0_.html" target="_blank">新东社区开展健康义诊活动</a> <span>[2014-04-20]</span></li>
            </ul>
            <ul class="news_block">
                <li><a href="newscontent_0_.html" target="_blank">关于对五个国家级实验项目</a> <span>[2014-04-20]</span></li>
                <li><a href="newscontent_0_.html" target="_blank">关于对五个国家级实验项目</a> <span>[2014-04-20]</span></li>
                <li><a href="newscontent_0_.html" target="_blank">关于对五个国家级实验项目</a> <span>[2014-04-20]</span></li>
                <li><a href="newscontent_0_.html" target="_blank">关于对五个国家级实验项目</a> <span>[2014-04-20]</span></li>
                <li><a href="newscontent_0_.html" target="_blank">关于对五个国家级实验项目</a> <span>[2014-04-20]</span></li>
            </ul>
        </div>
        <!-- 精品课程 -->
        <div class="excellent_wrapper">
            <div class="small_wrapper">
                <ul>
                    <li>
                        <img class="small_img" src="~/Images/index/smal_img1.jpg" />
                        <div class="small_txt">
                            <p class="title_style">精品课程</p>
                            <p>Subject Education</p>
                            <p>健身交谊舞1 谊舞1 谊舞1 </p>
                            <span class="more"></span>
                        </div>
                    </li>
                    <li>
                        <img class="small_img" src="~/Images/index/smal_img1.jpg" />
                        <div class="small_txt">
                            <p class="title_style">精品课程</p>
                            <p>Subject Education</p>
                            <p>健身交谊舞1 谊舞1 谊舞1 </p>
                            <span class="more"></span>
                        </div>
                    </li>
                    <li>
                        <img class="small_img" src="~/Images/index/smal_img1.jpg" />
                        <div class="small_txt">
                            <p class="title_style">精品课程</p>
                            <p>Subject Education</p>
                            <p>健身交谊舞1 谊舞1 谊舞1 </p>
                            <span class="more"></span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="excellent_btn excellent_btn_left"></div>
            <div class="excellent_btn excellent_btn_right"></div>
        </div>
        <div class="clear"></div>
        <!-- 课程中心 -->
        <div class="course_wrapper">
            <p class="course_title">Results Show <span class="title_style">课程中心</span> <a class="more" href="course_1_.html"></a></p>
            <div class="course_box">
                <a href="#">社会<br />
                    交往</a><span></span>
                <a href="#">社会<br />
                    交往</a><span></span>
                <a href="#">社会<br />
                    交往</a><span></span>
                <a href="#">社会<br />
                    交往</a><span></span>
                <a href="#">社会<br />
                    交往</a><span></span>
                <a href="#">社会<br />
                    交往</a>
            </div>
        </div>
    </div>
    <div class="main_right">
        <div class="right_title right_title1 right_title_show"><span class="right_num"></span><span>Report</span><span class="title_style"> 通知公告</span></div>
        <ul>
            <li><a href="#">新东社区开展健康义诊活动</a></li>
            <li><a href="#">新东社区开展健康义诊活动</a></li>
            <li><a href="#">新东社区开展健康义诊活动</a></li>
            <li><a href="#">新东社区开展健康义诊活动</a></li>
            <li><a href="#">新东社区开展健康义诊活动</a></li>
            <li><a href="#">新东社区开展健康义诊活动</a></li>
        </ul>
        <div class="right_title"><span class="right_num"></span><span>Electronic Journals</span><span class="title_style"> 电子期刊</span></div>
        <ul>
            <li><a href="#">电子期刊链接一</a></li>
            <li><a href="#">电子期刊链接二</a></li>
            <li><a href="#">电子期刊链接三</a></li>
            <li><a href="#">电子期刊链接四</a></li>
            <li><a href="#">电子期刊链接五</a></li>
            <li><a href="#">电子期刊链接六</a></li>
        </ul>
        <div class="right_title"><span class="right_num"></span><span>Report</span><span class="title_style"> 图书馆</span></div>
        <ul>
            <li><a href="#">图书馆链接一</a></li>
            <li><a href="#">图书馆链接二</a></li>
            <li><a href="#">图书馆链接三</a></li>
            <li><a href="#">图书馆链接四</a></li>
            <li><a href="#">图书馆链接五</a></li>
            <li><a href="#">图书馆链接六</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>


@section scripts{
    @*Scripts.Render("~/bundles/jqueryui")*@
}
