@{
    ViewBag.Title = "学习地图";
}

<div class="img_box">
    <img src="../Images/login/top.jpg" />
</div>

<div class="left">
    <div class="left_title">标题</div>
    <a href="#" class="left_menu">菜单一</a>
    <a href="#" class="left_menu">菜单一</a>
    <a href="#" class="left_menu">菜单一</a>
    <a href="#" class="left_menu">菜单一</a>
    <a href="#" class="left_menu">菜单一</a>
</div>
