@{
    ViewBag.Title = "新闻内容";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="img_box">
    <img src="../Images/login/top.jpg" />
</div>

<div class="left">
    <div class="left_title">成果展示</div>
    <a href="achievement_1_.html" class="left_menu">主题教育</a>
    <a href="achievement_2_.html" class="left_menu">社区活动</a>
    <a href="achievement_3_.html" class="left_menu">学习型组织建设</a>
</div>
<div class="right">
    <div class="right_title2"><span class="black">成果展示</span> > 成果内容</div>
    <div style="layout-grid:  15.6pt none">
<div style="text-align: center; margin: 7.8pt 0cm 0pt" align="center"><span style="text-fit: 432.0pt"><b><span style="font-size: 36pt; color: red; letter-spacing: 3pt">张家港市社区培训学院</span></b></span></div>
<div style="margin: 7.8pt 0cm 0pt"><span style="font-size: 14pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size: 14pt">张社院</span><span style="font-size: 14pt">〔2014〕6</span><span style="font-size: 14pt">号</span></div>
<div align="center"><b><span style="font-size: 16pt">关于公布&ldquo;张家港市社区教育讲师团师资库&rdquo;的通知</span></b></div>
<div><span style="font-size: 14pt">各镇社区教育中心、各村（社区）市民学校：</span></div>
<div style="line-height: 150%; text-indent: 28pt"><span style="font-size: 14pt; line-height: 150%">为进一步深入推动我市社区教育工作的内涵发展，落实市委市政府&ldquo;教育便民、教育利民、教育富民&rdquo;的指导思想，经研究决定，在全市各镇社区教育中心和市民学校中开展&ldquo;张家港市社区教育专家讲师团送教下乡&rdquo;活动，为此，征得专家本人同意，组建了&ldquo;张家港市社区教育专家讲师团&rdquo;</span><span style="font-size: 14pt; line-height: 150%">师资库，现予以公布。</span></div>
<div style="line-height: 150%; text-indent: 28pt"><span style="font-size: 14pt; line-height: 150%">请各镇社区教育中心根据辖区内市民需要，整体规划开设&ldquo;百姓大讲堂&rdquo;的时间和内容，按照《张家港市社区教育巡讲活动方案》的要求，在每月</span><span style="font-size: 14pt; line-height: 150%">25</span><span style="font-size: 14pt; line-height: 150%">日之前将约课单上报社区培训学院，社区培训学院将根据约课单统筹安排全市巡讲课表。</span></div>
<div style="line-height: 150%; text-indent: 28pt"><span style="font-size: 14pt; line-height: 150%">特此通知。</span></div></div>

</div>
<div class="clear"></div>
