@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="img_box">
    <img src="../Images/login/top.jpg" />
</div>

<div class="left">
    <div class="left_title">成果展示</div>
    <a href="achievement_1_.html" class="left_menu">主题教育</a>
    <a href="achievement_2_.html" class="left_menu">社区活动</a>
    <a href="achievement_3_.html" class="left_menu">学习型组织建设</a>
</div>
<div class="right">
    <div class="right_title2"><span class="black">成果展示</span> > @ViewBag.Title        
        <!-- 搜索框 -->
        <div class="search_box">
            <input type="text" class="search_input no_txt" value=""  data-title="请输入搜索内容"  />
            <input type="submit" class="search_btn" value="搜&nbsp;&nbsp;索"/>
        </div>
    </div>
    <ul class="news_block news_block_show">
        <li><a href="achcontent_0_.html" target="_blank">关于公布“张家港市社区教育讲师团师资库”的通知</a> <span>[2014-06-25]</span></li>
        <li><a href="achcontent_0_.html" target="_blank">2014年张家港市全民终身学习活动周——“百姓大讲堂”教育惠民社区巡讲活动方案</a> <span>[2014-06-25]</span></li>
        <li><a href="achcontent_0_.html" target="_blank">关于开展2014年张家港市全民终身学习活动的通知</a> <span>[2014-06-19]</span></li>
        <li><a href="achcontent_0_.html" target="_blank">关于表彰“2013年全民终身学习活动周”先进单位的决定</a> <span>[2014-04-01]</span></li>
        <li><a href="achcontent_0_.html" target="_blank">2013年张家港市全民终身学习活动周通知及各镇活动方案</a> <span>[2013-10-28]</span></li>
    </ul>
</div>
<div class="clear"></div>
