@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    @Styles.Render(Url.Content("~/Content/video.css"))
}
<div class="img_box">
    <img src="../Images/login/top.jpg" />
</div>

<div class="left">
    <div class="left_title">课程中心</div>
    <a href="course_1_.html" class="left_menu">精品课程</a>
    <a href="course_2_.html" class="left_menu">热门课程</a>
    <a href="course_3_.html" class="left_menu">最新课程</a>
    <a href="course_4_.html" class="left_menu">全部课程</a>
</div>
<div class="right">
    <div class="right_title2"><span class="black">课程中心</span> > @ViewBag.Title</div>
    <div class="Videos_list">
        <div id="bd-videos" class="bd-videos">
            <ul id="bd-video-list" class="bd-video-list" style="display: block;">
                <li static="s=1703&amp;tpl=top_tamasha_hao123&amp;tn=top_tamasha_hao123&amp;bl=top_tamasha_hao123_show&amp;no=0" data-id="386" class="bd-video-item   bd-video-meta-right ">
                    <div class="bd-video-poster">
                        <a static="stp=poster&amp;to=search" href="#" target="_blank" title="快乐大本营" class="bd-video-link">
                            <span class="no no1">1</span>
                            <img class="bd-video-img" src="http://t2.baidu.com/it/u=1916864356,2001060888&amp;fm=20" alt="快乐大本营">
                        </a>
                    </div>
                    <div class="bd-video-info">
                        <h4 class="bd-video-title"><a static="stp=title&amp;to=search" href="#" title="快乐大本营" target="_blank">快乐大本营</a></h4>
                        <div class="sinfo">
                            <span class="infoKey">讲师：</span>
                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="#" title="何炅" target="_blank">何炅</a>
                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="#" title="谢娜" target="_blank">谢娜</a>
                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="#" title="李维嘉" target="_blank">李维嘉</a></div>
                        <div class="typeWrap">
                            <div class="sinfo typeItem">
                                <span class="infoKey ">类型：</span>
                                <span class="infoValue">游戏互动</span>
                                <span class="infoValue">综艺</span>
                            </div>
                            <div class="sinfo">
                                <span class="infoKey ">时间：</span>
                                <span class="infoValue">1997</span>
                            </div>
                        </div>
                        <div class="sinfo intro">
                            <span class="infoKey ">简介：</span>
                            <span class="infoValue shortIntro">《快乐大本营》是湖南电视台于1997年7月11日开办的一档综艺性娱乐节目，是湖南卫视上星以来一直保持的品牌节目之一。节目开始采用全民娱乐的类型，经常邀请一些有特殊才能的人物，一些可爱的孩子来表演，后有转为选秀节目，来选举其讲师人；现在多以嘉宾访谈游戏型的综艺节目，经常邀请一些中国大陆、香港、台湾的知名艺人来访谈，游戏等。是湖南卫视的品牌节目之一。观众最喜欢的综艺节目，该节目获得1998年度金鹰奖。</span></div>
                    </div>
                </li>
                <li static="s=1703&amp;tpl=top_tamasha_hao123&amp;tn=top_tamasha_hao123&amp;bl=top_tamasha_hao123_show&amp;no=1" data-id="290" class="bd-video-item   bd-video-meta-right ">
                    <div class="bd-video-poster">
                        <a static="stp=poster&amp;to=search" href="#" target="_blank" title="非诚勿扰" class="bd-video-link">
                            <span class="no no2">2</span>
                            <img class="bd-video-img" src="http://t1.baidu.com/it/u=1676116991,292847404&amp;fm=20" alt="非诚勿扰">
                        </a>
                    </div>
                    <div class="bd-video-info">
                        <h4 class="bd-video-title"><a static="stp=title&amp;to=search" href="#" title="非诚勿扰" target="_blank">非诚勿扰</a></h4>
                        <div class="sinfo">
                            <span class="infoKey">讲师：</span>
                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="#" title="孟非" target="_blank">孟非</a>
                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="#" title="黄菡" target="_blank">黄菡</a>
                        </div>
                        <div class="typeWrap">
                            <div class="sinfo typeItem">
                                <span class="infoKey ">类型：</span>
                                <span class="infoValue">播报</span>
                                <span class="infoValue">访谈</span>
                            </div>
                            <div class="sinfo">
                                <span class="infoKey ">时间：</span>
                                <span class="infoValue">2010</span>
                            </div>
                        </div>
                        <div class="sinfo intro">
                            <span class="infoKey ">简介：</span>
                            <span class="infoValue shortIntro">《非诚勿扰》是江苏卫视一档适应现代生活节奏的大型婚恋交友节目，为广大单身男女提供公开的婚恋交友平台，精良的节目制作和全新的婚恋交友模式得到观众和网友广泛关注。新节目的互动形式将完全突破过去传统的交友方式，完全体现新时代男女的婚恋观。节目中有24位单身女生以亮灯和灭灯方式来决定报名男嘉宾的去留，经过“爱之初体验”、“爱之再判断”、“爱之终决选”、“男生权利”等规则来决定男女嘉宾的速配成功。</span></div>
                    </div>
                </li>

                <li static="s=1703&amp;tpl=top_tamasha_hao123&amp;tn=top_tamasha_hao123&amp;bl=top_tamasha_hao123_show&amp;no=2" data-id="9204" class="bd-video-item   bd-video-meta-right ">
                    <div class="bd-video-poster">
                        <a static="stp=poster&amp;to=search" href="#" target="_blank" title="我是歌手" class="bd-video-link">
                            <span class="no no3">3</span>
                            <img class="bd-video-img" src="http://t2.baidu.com/it/u=4228848877,574982166&amp;fm=20" alt="我是歌手">
                        </a>
                    </div>
                    <div class="bd-video-info">
                        <h4 class="bd-video-title"><a static="stp=title&amp;to=search" href="#" title="我是歌手" target="_blank">我是歌手</a></h4>
                        <div class="sinfo">
                            <span class="infoKey">讲师：</span>
                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="#" title="张宇" target="_blank">张宇</a>
                        </div>
                        <div class="typeWrap">
                            <div class="sinfo typeItem">
                                <span class="infoKey ">类型：</span>
                                <span class="infoValue">综艺</span>
                                <span class="infoValue">歌手</span>
                            </div>
                            <div class="sinfo">
                                <span class="infoKey ">时间：</span>
                                <span class="infoValue">2014</span>
                            </div>
                        </div>
                        <div class="sinfo intro">
                            <span class="infoKey ">简介：</span>
                            <span class="infoValue shortIntro">我是歌手第二季，是湖南卫视2014年第一季度重磅打造的歌手音乐对决电视节目。我是歌手2将于2014年1月3日黄金档周五晚20:10播出，本次我是歌手的参赛歌手有...<a class="bd-video-intro-more" href="#" target="_blank">详情&gt;&gt;</a></span>
                        </div>
                    </div>
                </li>
                <li static="s=1703&amp;tpl=top_tamasha_hao123&amp;tn=top_tamasha_hao123&amp;bl=top_tamasha_hao123_show&amp;no=3" data-id="377" class="bd-video-item   bd-video-meta-right ">
                    <div class="bd-video-poster">
                        <a static="stp=poster&amp;to=search" href="#" target="_blank" title="康熙来了" class="bd-video-link">
                            <span class="no no4">4</span>
                            <img class="bd-video-img" src="http://t3.baidu.com/it/u=3305297988,2042347925&amp;fm=20" alt="康熙来了">
                        </a>
                    </div>
                    <div class="bd-video-info">
                        <h4 class="bd-video-title"><a static="stp=title&amp;to=search" href="#" title="康熙来了" target="_blank">康熙来了</a></h4>
                        <div class="sinfo">
                            <span class="infoKey">讲师：</span>
                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="#" title="徐熙娣" target="_blank">徐熙娣</a>
                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="#" title="蔡康永" target="_blank">蔡康永</a>
                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="#" title="陈汉典" target="_blank">陈汉典</a>
                        </div>
                        <div class="typeWrap">
                            <div class="sinfo typeItem">
                                <span class="infoKey ">类型：</span>
                                <span class="infoValue">访谈</span>
                                <span class="infoValue">综艺</span>
                            </div>
                            <div class="sinfo">
                                <span class="infoKey ">时间：</span>
                                <span class="infoValue">2004</span>
                            </div>
                        </div>
                        <div class="sinfo intro">
                            <span class="infoKey ">简介：</span>
                            <span class="infoValue shortIntro">《康熙来了》是台湾省当红的一档娱乐节目，由中天综合台主办。节目邀请台湾当红明星来到节目当中，通过期间访谈让人了解艺人不为人知的一面，多才多艺的小S加上知识渊博的...<a class="bd-video-intro-more" href="#" target="_blank">详情&gt;&gt;</a></span>
                        </div>
                    </div>
                </li>

                <li static="s=1703&amp;tpl=top_tamasha_hao123&amp;tn=top_tamasha_hao123&amp;bl=top_tamasha_hao123_show&amp;no=4" data-id="8158" class="bd-video-item  bd-video-meta-left">
                    <div class="bd-video-poster">
                        <a static="stp=poster&amp;to=search" href="http://v.hao123.com/zongyi/8158.htm" target="_blank" title="我们结婚了 世界版" class="bd-video-link">
                            <span class="no no5">5</span>
                            <img class="bd-video-img" src="http://t3.baidu.com/it/u=4084864086,281630156&amp;fm=20" alt="我们结婚了 世界版">

                            <span class="bd-video-update">更新至2013-07-12</span>
                            <span class="bd-video-bg"></span>

                        </a>
                    </div>
                    <div class="bd-video-info">
                        <h4 class="bd-video-title"><a static="stp=title&amp;to=search" href="http://v.hao123.com/zongyi/8158.htm" title="我们结婚了 世界版" target="_blank">我们结婚了 世界版</a></h4>
                        <div class="sinfo">
                            <span class="infoKey">讲师：</span>

                            暂无
							
                        </div>

                        <div class="typeWrap">
                            <div class="sinfo typeItem">
                                <span class="infoKey ">类型：</span>


                                <span class="infoValue">综艺</span>

                                <span class="infoValue">情感</span>


                            </div>
                            <div class="sinfo">
                                <span class="infoKey ">时间：</span>

                                <span class="infoValue">2013</span>

                            </div>
                        </div>


                        <div class="sinfo intro">
                            <span class="infoKey ">简介：</span>


                            <span class="infoValue shortIntro">2013年MBC野心勃勃企划的《我们结婚了世界版》，是由韩国国内有名的爱豆组合中的成员和中国，日本等海外明星一起拍摄的假想夫妇节目。玉泽演去年年底已经确定出演此...<a class="bd-video-intro-more" href="http://v.hao123.com/zongyi/8158.htm" target="_blank">详情&gt;&gt;</a></span>


                        </div>

                        <div class="sinfo tv_play_site">
                            <span class="infoKey ">播放：</span>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/iqiyi.gif);" class="tv_play_site_item tv_play_site_current" data-picker="iqiyi.com" data-key="site" data-id="8158" href="" target="_blank">爱奇艺</a>



                        </div>



                    </div>


                </li>

                <li static="s=1703&amp;tpl=top_tamasha_hao123&amp;tn=top_tamasha_hao123&amp;bl=top_tamasha_hao123_show&amp;no=5" data-id="643" class="bd-video-item bd-video-item-last bd-video-meta-left">
                    <div class="bd-video-poster">
                        <a static="stp=poster&amp;to=search" href="http://v.hao123.com/zongyi/643.htm" target="_blank" title="百变大咖秀" class="bd-video-link">
                            <span class="no no6">6</span>
                            <img class="bd-video-img" src="http://t3.baidu.com/it/u=2667525116,1603758912&amp;fm=20" alt="百变大咖秀">

                            <span class="bd-video-update">更新至2014-04-17</span>
                            <span class="bd-video-bg"></span>

                        </a>
                    </div>
                    <div class="bd-video-info">
                        <h4 class="bd-video-title"><a static="stp=title&amp;to=search" href="http://v.hao123.com/zongyi/643.htm" title="百变大咖秀" target="_blank">百变大咖秀</a></h4>
                        <div class="sinfo">
                            <span class="infoKey">讲师：</span>



                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="http://v.hao123.com/v?word=%BA%CE%EA%C1&amp;ct=301989888&amp;fr=video" title="何炅" target="_blank">何炅</a>



                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="http://v.hao123.com/v?word=%D0%BB%C4%C8&amp;ct=301989888&amp;fr=video" title="谢娜" target="_blank">谢娜</a>



                        </div>

                        <div class="typeWrap">
                            <div class="sinfo typeItem">
                                <span class="infoKey ">类型：</span>


                                <span class="infoValue">游戏互动</span>

                                <span class="infoValue">综艺</span>


                            </div>
                            <div class="sinfo">
                                <span class="infoKey ">时间：</span>

                                <span class="infoValue">2012</span>

                            </div>
                        </div>


                        <div class="sinfo intro">
                            <span class="infoKey ">简介：</span>


                            <span class="infoValue shortIntro">《百变大咖秀》总共有十一期，除何炅谢娜两位讲师人每期都会以不同的天王天后造型出现以外。来自各界的“模王秀团”们每期也会有精彩的表演，带队的队长则要使劲浑身解数进...<a class="bd-video-intro-more" href="http://v.hao123.com/zongyi/643.htm" target="_blank">详情&gt;&gt;</a></span>


                        </div>

                        <div class="sinfo tv_play_site">
                            <span class="infoKey ">播放：</span>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/iqiyi.gif);" class="tv_play_site_item tv_play_site_current" data-picker="iqiyi.com" data-key="site" data-id="643" href="" target="_blank">爱奇艺</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/imgo_tv.gif);" class="tv_play_site_item " data-picker="hunantv.com" data-key="site" data-id="643" href="" target="_blank">芒果TV</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/pps.gif);" class="tv_play_site_item " data-picker="pps.tv" data-key="site" data-id="643" href="" target="_blank">PPS</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/sohu.gif);" class="tv_play_site_item " data-picker="sohu.com" data-key="site" data-id="643" href="" target="_blank">搜狐</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/letv.gif);" class="tv_play_site_item " data-picker="letv.com" data-key="site" data-id="643" href="" target="_blank">乐视</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/huashu.gif);" class="tv_play_site_item " data-picker="wasu.cn" data-key="site" data-id="643" href="" target="_blank">华数TV</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/youku.gif);" class="tv_play_site_item " data-picker="youku.com" data-key="site" data-id="643" href="" target="_blank">优酷</a>







                        </div>



                    </div>


                </li>

                <li static="s=1703&amp;tpl=top_tamasha_hao123&amp;tn=top_tamasha_hao123&amp;bl=top_tamasha_hao123_show&amp;no=6" data-id="540" class="bd-video-item   bd-video-meta-right ">
                    <div class="bd-video-poster">
                        <a static="stp=poster&amp;to=search" href="http://v.hao123.com/zongyi/540.htm" target="_blank" title="天天向上" class="bd-video-link">
                            <span class="no no7">7</span>
                            <img class="bd-video-img" src="http://t2.baidu.com/it/u=2150099060,1789171967&amp;fm=20" alt="天天向上">

                            <span class="bd-video-update">更新至2014-06-27</span>
                            <span class="bd-video-bg"></span>

                        </a>
                    </div>
                    <div class="bd-video-info">
                        <h4 class="bd-video-title"><a static="stp=title&amp;to=search" href="http://v.hao123.com/zongyi/540.htm" title="天天向上" target="_blank">天天向上</a></h4>
                        <div class="sinfo">
                            <span class="infoKey">讲师：</span>



                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="http://v.hao123.com/v?word=%CD%F4%BA%AD&amp;ct=301989888&amp;fr=video" title="汪涵" target="_blank">汪涵</a>



                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="http://v.hao123.com/v?word=%C5%B7%B5%DC&amp;ct=301989888&amp;fr=video" title="欧弟" target="_blank">欧弟</a>



                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="http://v.hao123.com/v?word=%CC%EF%D4%B4&amp;ct=301989888&amp;fr=video" title="田源" target="_blank">田源</a>



                        </div>

                        <div class="typeWrap">
                            <div class="sinfo typeItem">
                                <span class="infoKey ">类型：</span>


                                <span class="infoValue">综艺</span>

                                <span class="infoValue">互动</span>


                            </div>
                            <div class="sinfo">
                                <span class="infoKey ">时间：</span>

                                <span class="infoValue">2008</span>

                            </div>
                        </div>


                        <div class="sinfo intro">
                            <span class="infoKey ">简介：</span>


                            <span class="infoValue shortIntro">《天天向上》是由湖南卫视打造的大型礼仪公德脱口秀节目，2008年8月4日首播。节目的讲师阵容由汪涵、欧弟、田源、钱枫、俞灏明、矢野浩二、金恩圣（小五）七位天天兄...<a class="bd-video-intro-more" href="http://v.hao123.com/zongyi/540.htm" target="_blank">详情&gt;&gt;</a></span>


                        </div>

                        <div class="sinfo tv_play_site">
                            <span class="infoKey ">播放：</span>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/iqiyi.gif);" class="tv_play_site_item tv_play_site_current" data-picker="iqiyi.com" data-key="site" data-id="540" href="" target="_blank">爱奇艺</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/imgo_tv.gif);" class="tv_play_site_item " data-picker="hunantv.com" data-key="site" data-id="540" href="" target="_blank">芒果TV</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/pptv.gif);" class="tv_play_site_item " data-picker="pptv.com" data-key="site" data-id="540" href="" target="_blank">PPTV</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/letv.gif);" class="tv_play_site_item " data-picker="letv.com" data-key="site" data-id="540" href="" target="_blank">乐视</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/huashu.gif);" class="tv_play_site_item " data-picker="wasu.cn" data-key="site" data-id="540" href="" target="_blank">华数TV</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/youku.gif);" class="tv_play_site_item " data-picker="youku.com" data-key="site" data-id="540" href="" target="_blank">优酷</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/kankan.gif);" class="tv_play_site_item " data-picker="kankan.com" data-key="site" data-id="540" href="" target="_blank">迅雷看看</a>





                        </div>



                    </div>


                </li>

                <li static="s=1703&amp;tpl=top_tamasha_hao123&amp;tn=top_tamasha_hao123&amp;bl=top_tamasha_hao123_show&amp;no=7" data-id="95" class="bd-video-item   bd-video-meta-right ">
                    <div class="bd-video-poster">
                        <a static="stp=poster&amp;to=search" href="http://v.hao123.com/zongyi/95.htm" target="_blank" title="中国梦想秀" class="bd-video-link">
                            <span class="no no8">8</span>
                            <img class="bd-video-img" src="http://t2.baidu.com/it/u=3278783741,1284228392&amp;fm=20" alt="中国梦想秀">

                            <span class="bd-video-update">更新至2014-06-28</span>
                            <span class="bd-video-bg"></span>

                        </a>
                    </div>
                    <div class="bd-video-info">
                        <h4 class="bd-video-title"><a static="stp=title&amp;to=search" href="http://v.hao123.com/zongyi/95.htm" title="中国梦想秀" target="_blank">中国梦想秀</a></h4>
                        <div class="sinfo">
                            <span class="infoKey">讲师：</span>



                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="http://v.hao123.com/v?word=%D6%DC%C1%A2%B2%A8&amp;ct=301989888&amp;fr=video" title="周立波" target="_blank">周立波</a>



                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="http://v.hao123.com/v?word=%C0%EE%EA%CF&amp;ct=301989888&amp;fr=video" title="李晗" target="_blank">李晗</a>



                        </div>

                        <div class="typeWrap">
                            <div class="sinfo typeItem">
                                <span class="infoKey ">类型：</span>


                                <span class="infoValue">选秀</span>

                                <span class="infoValue">综艺</span>


                            </div>
                            <div class="sinfo">
                                <span class="infoKey ">时间：</span>

                                <span class="infoValue">2011</span>

                            </div>
                        </div>


                        <div class="sinfo intro">
                            <span class="infoKey ">简介：</span>


                            <span class="infoValue shortIntro">生活中有这样一些小小人物，他们平凡的人生中始终怀揣着不平凡的梦想，他们对某一个明星、对某一首歌、对某一门艺术始终怀着百分百的真诚热爱和美妙憧憬。他们也许曾经经历...<a class="bd-video-intro-more" href="http://v.hao123.com/zongyi/95.htm" target="_blank">详情&gt;&gt;</a></span>


                        </div>

                        <div class="sinfo tv_play_site">
                            <span class="infoKey ">播放：</span>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/iqiyi.gif);" class="tv_play_site_item tv_play_site_current" data-picker="iqiyi.com" data-key="site" data-id="95" href="" target="_blank">爱奇艺</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/tudou.gif);" class="tv_play_site_item " data-picker="tudou.com" data-key="site" data-id="95" href="" target="_blank">土豆</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/sohu.gif);" class="tv_play_site_item " data-picker="sohu.com" data-key="site" data-id="95" href="" target="_blank">搜狐</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/pptv.gif);" class="tv_play_site_item " data-picker="pptv.com" data-key="site" data-id="95" href="" target="_blank">PPTV</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/letv.gif);" class="tv_play_site_item " data-picker="letv.com" data-key="site" data-id="95" href="" target="_blank">乐视</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/fengxing.gif);" class="tv_play_site_item " data-picker="fun.tv" data-key="site" data-id="95" href="" target="_blank">风行网</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/huashu.gif);" class="tv_play_site_item " data-picker="wasu.cn" data-key="site" data-id="95" href="" target="_blank">华数TV</a>











                        </div>



                    </div>


                </li>

                <li static="s=1703&amp;tpl=top_tamasha_hao123&amp;tn=top_tamasha_hao123&amp;bl=top_tamasha_hao123_show&amp;no=8" data-id="9501" class="bd-video-item   bd-video-meta-right ">
                    <div class="bd-video-poster">
                        <a static="stp=poster&amp;to=search" href="http://v.hao123.com/zongyi/9501.htm" target="_blank" title="我们都爱笑" class="bd-video-link">
                            <span class="no no9">9</span>
                            <img class="bd-video-img" src="http://t3.baidu.com/it/u=2531211870,4157694281&amp;fm=20" alt="我们都爱笑">

                            <span class="bd-video-update">更新至2014-06-28</span>
                            <span class="bd-video-bg"></span>

                        </a>
                    </div>
                    <div class="bd-video-info">
                        <h4 class="bd-video-title"><a static="stp=title&amp;to=search" href="http://v.hao123.com/zongyi/9501.htm" title="我们都爱笑" target="_blank">我们都爱笑</a></h4>
                        <div class="sinfo">
                            <span class="infoKey">讲师：</span>



                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="http://v.hao123.com/v?word=%B6%C5%BA%A3%CC%CE&amp;ct=301989888&amp;fr=video" title="杜海涛" target="_blank">杜海涛</a>



                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="http://v.hao123.com/v?word=%D2%FC%CE%F5%CB%AE&amp;ct=301989888&amp;fr=video" title="尹熙水" target="_blank">尹熙水</a>



                        </div>

                        <div class="typeWrap">
                            <div class="sinfo typeItem">
                                <span class="infoKey ">类型：</span>


                                <span class="infoValue">综艺</span>

                                <span class="infoValue">互动</span>


                            </div>
                            <div class="sinfo">
                                <span class="infoKey ">时间：</span>

                                <span class="infoValue">2014</span>

                            </div>
                        </div>


                        <div class="sinfo intro">
                            <span class="infoKey ">简介：</span>


                            <span class="infoValue shortIntro">这是一场没有输赢。以“制造快乐”为唯一标准的喜剧类节目。让人耳目一新的表演模式，搭配多元化的综艺元素，能让电视机前和现场的观众笑得畅快淋漓，真正的解开压力，放松...<a class="bd-video-intro-more" href="http://v.hao123.com/zongyi/9501.htm" target="_blank">详情&gt;&gt;</a></span>


                        </div>

                        <div class="sinfo tv_play_site">
                            <span class="infoKey ">播放：</span>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/imgo_tv.gif);" class="tv_play_site_item tv_play_site_current" data-picker="hunantv.com" data-key="site" data-id="9501" href="" target="_blank">芒果TV</a>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/qq.gif);" class="tv_play_site_item " data-picker="qq.com" data-key="site" data-id="9501" href="" target="_blank">腾讯</a>



                        </div>



                    </div>

                </li>

                <li static="s=1703&amp;tpl=top_tamasha_hao123&amp;tn=top_tamasha_hao123&amp;bl=top_tamasha_hao123_show&amp;no=9" data-id="9053" class="bd-video-item   bd-video-meta-right ">
                    <div class="bd-video-poster">
                        <a static="stp=poster&amp;to=search" href="http://v.hao123.com/zongyi/9053.htm" target="_blank" title="最强大脑" class="bd-video-link">
                            <span class="no no10">10</span>
                            <img class="bd-video-img" src="http://t2.baidu.com/it/u=1732645743,1767610594&amp;fm=20" alt="最强大脑">

                            <span class="bd-video-update">更新至2014-04-11</span>
                            <span class="bd-video-bg"></span>

                        </a>
                    </div>
                    <div class="bd-video-info">
                        <h4 class="bd-video-title"><a static="stp=title&amp;to=search" href="http://v.hao123.com/zongyi/9053.htm" title="最强大脑" target="_blank">最强大脑</a></h4>
                        <div class="sinfo">
                            <span class="infoKey">讲师：</span>



                            <a static="stp=ac&amp;to=search" class="infoValue infoActor" href="http://v.hao123.com/v?word=%BD%AF%B2%FD%BD%A8&amp;ct=301989888&amp;fr=video" title="蒋昌建" target="_blank">蒋昌建</a>



                        </div>

                        <div class="typeWrap">
                            <div class="sinfo typeItem">
                                <span class="infoKey ">类型：</span>


                                <span class="infoValue">综艺</span>

                                <span class="infoValue">大陆综艺</span>


                            </div>
                            <div class="sinfo">
                                <span class="infoKey ">时间：</span>

                                <span class="infoValue">2014</span>

                            </div>
                        </div>


                        <div class="sinfo intro">
                            <span class="infoKey ">简介：</span>


                            <span class="infoValue shortIntro">江苏卫视2014年第一炮《最强大脑》号称科学性达人秀，每集订定主题，邀音乐、体育、记忆等高手挑战，并以科学方式分析高手能力。陶晶莹担任固定来宾，她与国家体育队总...<a class="bd-video-intro-more" href="http://v.hao123.com/zongyi/9053.htm" target="_blank">详情&gt;&gt;</a></span>


                        </div>

                        <div class="sinfo tv_play_site">
                            <span class="infoKey ">播放：</span>



                            <a style="background-image: url(http://vs3.bdstatic.com/logo/pptv.gif);" class="tv_play_site_item tv_play_site_current" data-picker="pptv.com" data-key="site" data-id="9053" href="" target="_blank">PPTV</a>



                        </div>



                    </div>

                </li>


            </ul>
            <div style="clear: both"></div>
            <div class="bd-video-loading" id="bd-video-loading" style="display: none;">
                <div class="bd-video-loading-bg"></div>
                <div class="bd-video-loading-icon">加载中</div>
            </div>
        </div>
        <div id="bd-pagination" class="bd-pagination">
            <div id="bd-pagination-list" static="s=1703&amp;tpl=top_tamasha_hao123&amp;tn=top_tamasha_hao123&amp;bl=pagebar" class="bd-pagination-list filter-group">
                <a data-key="pn" data-val="1" class="bd-pagination-page  filter-sel-active  filter-sel" title="第1页" href="#">1</a><a data-key="pn" data-val="2" class="bd-pagination-page  filter-sel" title="第2页" href="#">2</a><a data-key="pn" data-val="3" class="bd-pagination-page  filter-sel" title="第3页" href="#">3</a><a data-key="pn" data-val="4" class="bd-pagination-page  filter-sel" title="第4页" href="#">4</a><a data-key="pn" data-val="5" class="bd-pagination-page  filter-sel" title="第5页" href="#">5</a><a data-key="pn" data-val="2" class="bd-pagination-page bd-pagination-next filter-sel" title="下一页" href="#">下一页</a><a data-key="pn" data-val="200" class="bd-pagination-page bd-pagination-prev filter-sel" title="尾页" href="#">尾页</a>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
