<div id="ePanel" class="easyui-panel" title="用户管理" style="padding:10px;">
    <table>
        <tr>
            <td>市民卡：</td>
            <td style="width:250px;"><input type="text" style="width:180px;"></td>
            <td>姓名：</td>
            <td><input type="text" style="width:100%;" /></td>
        </tr>
        <tr style="line-height:30px;">
            <td>审批状态：</td>
            <td><input type="radio" name="INDEXID" value="1" checked="checked" /> 全部 <input type="radio" name="INDEXID" value="2" /> 待审 <input type="radio" name="INDEXID" value="3" /> 已审</td>
            <td>账号状态：</td>
            <td><input type="radio" name="INDEXID2" value="1" checked="checked" /> 全部 <input type="radio" name="INDEXID2" value="2" /> 可用 <input type="radio" name="INDEXID2" value="3" /> 禁用</td>
        </tr>
    </table>
    <table id="dg" class="easyui-datagrid" pagination="true" style="width:auto;"
            rownumbers="true" fitColumns="true" singleSelect="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th data-options="field:'ck',checkbox:true"></th>
                <th field="title" width="80">姓名</th>
                <th field="smk" width="100">市民卡号</th>
                <th field="Name" width="120">部门</th>
                <th field="Price" width="120">注册时间</th>
                <th field="status" width="120">审批状态</th>
                <th field="status2" width="120">账号状态</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td><td>奚卫忠</td><td>H03782347</td><td>杨舍镇</td><td>2011-06-01</td><td>已审</td><td>可用</td>
            </tr>
            <tr>
                <td></td><td>赵妙珍</td><td>H04943579</td><td>杨舍镇</td><td>2014-06-21</td><td>已审</td><td>禁用</td>
            </tr>
        </tbody>
    </table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="add()">查询</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="edit()">审批通过</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-no" plain="true" onclick="destroy()">账号禁用</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="destroy()">重置密码</a>
    </div>
</div>
