@{
    ViewBag.Title = "登录";
}

<div class="img_box">
    <img src="../Images/login/top.jpg" />
</div>

<div class="left">
    <div class="left_title">用户</div>
    <a href="login.html" class="left_menu">登录</a>
    <a href="register.html" class="left_menu">注册</a>
    <a href="fgpassword.html" class="left_menu">忘记密码</a>
    <a href="contact.html" class="left_menu">联系我们</a>
</div>
<div class="right">
    <div class="right_title2"><span class="black">登录</span>每个人都梦想让世界去了解@*<label>首页 > 登录</label>*@</div>
    <div class="login_left">
        <img src="../Images/login/login_left_img.jpg" />
    </div>
    <div class="login_box">
        <div class="img_box">
            <img src="../Images/login/login_top.jpg" />
        </div>
        <p><span class="black">用户名：</span><input class="user_name" type="text" /></p>
        <p><span class="black">密<span class="em1"></span>码：</span><input class="user_pwd" type="password" /></p>
        <p>
            <span class="black">验证码：</span><input class="check_input" type="text" />
            <span class="">4位数字</span>
        </p>
        <div class="login_btn">登录</div>
    </div>
    <div class="clear"></div>
    <hr />
    <div class="bottom_box">
        <img src="../Images/login/registration.jpg" />
        <p class="bottom_box_title">注册</p>
        <p>了解世界，从注册开始。让老师想一句话，字数到这边就比较差不多了</p>
        <p><span class="bottom_btn black">注册</span></p>
        <div class="clear"></div>
    </div>
    <div class="bottom_box">
        <img src="../Images/login/replacement.jpg" />
        <p class="bottom_box_title">忘记密码？</p>
        <p>密码太多，记不住？让老师想一句话，字数到这边就比较差不多了</p>
        <p><span class="bottom_btn black">忘记密码</span></p>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>

