@{
    ViewBag.Title = "登录";
}

<div class="img_box">
    <img src="../Images/login/top.jpg" />
</div>

<div class="left">
    <div class="left_title">标题</div>
    <a href="#" class="left_menu">菜单一</a>
    <a href="#" class="left_menu">菜单一</a>
    <a href="#" class="left_menu">菜单一</a>
    <a href="#" class="left_menu">菜单一</a>
    <a href="#" class="left_menu">菜单一</a>
</div>
<div class="right">
    <div class="right_title2"><span class="black">注册</span>每个人都梦想让世界去了的<label>首页 > 登录</label></div>
    <div class="login_left">
        <img src="../Images/login/login_left_img.jpg" />
    </div>
    <div class="login_box">
        <div class="img_box">
            <img src="../Images/login/login_top.jpg" />
        </div>
        <p><span class="black">用户名：</span><input class="user_name" type="text" /></p>
        <p><span class="black">密<span class="em1"></span>码：</span><input class="user_pwd" type="password" /></p>
        <p>
            <span class="black">验证码：</span><input class="check_input" type="text" />
            <span class="check_img_box"></span>
        </p>
        <div class="login_btn">登录</div>
    </div>
    <div class="clear"></div>
    <hr />
    <div class="bottom_box">
        <img src="../Images/login/registration.jpg" />
        <p class="bottom_box_title">注册</p>
        <p>报名参加各种上门服务的成员参加各种上门服务的成员参加各种上门服务的成员。</p>
        <p><span class="bottom_btn black">注册</span></p>
        <div class="clear"></div>
    </div>
    <div class="bottom_box">
        <img src="../Images/login/replacement.jpg" />
        <p class="bottom_box_title">注册</p>
        <p>报名参加各种上门服务的成员参加各种上门服务的成员参加各种上门服务的成员。</p>
        <p><span class="bottom_btn black">注册</span></p>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>

