@{
    ViewBag.Title = "注册";
}

<div class="img_box">
    <img src="../Images/login/top.jpg" />
</div>

<div class="left">
    <div class="left_title">用户</div>
    <a href="login.html" class="left_menu">登录</a>
    <a href="register.html" class="left_menu">注册</a>
    <a href="fgpassword.html" class="left_menu">忘记密码</a>
    <a href="contact.html" class="left_menu">联系我们</a>
</div>
<div class="right">
    <div class="right_title2"><span class="black">注册</span></div>
    <!-- 注册 -->
    <div class="register_wrapper">
        <div class="register_top">
            <p class="register_first">尊敬的用户：</p>
            <p class="register_second">为了您能更好的使用本系统，请您进行市民卡验证！</p>
            <p class="red">注：请如实填写市民卡验证信息!</p>
            <p><span class="black">姓<span class="em1"></span>名：</span><input class="user_name" type="text" /></p>
            <p><span class="black">卡<span class="em1"></span>号：</span><input class="user_id" type="text" /></p>
            <p><span class="black">身份证：</span><input class="user_name" type="text" /></p>
            <p>
                <input class="register_btn register_btn_ok" type="submit" value="确认" /><input class="register_btn" type="reset" value="重填" />
            </p>
        </div>
    </div>
</div>
<div class="clear"></div>
